/**
 * ========================================================================================
 * - HEADER - #header.
 * ========================================================================================
 */


/* ==============================
 - Base.
============================== */
.header-wrapper {
	position: relative;
	z-index: 1000;
	.sub-menu {
		background-color: #f1f1f1;
		border: 1px solid #ddd;
		.menu-item {
			a {
				padding: 6px 12px;
				line-height: 1.2;
			}
		}
	}
	.dropdown,
	.menu-parent-item,
	.menu-item-has-children {
		position: relative;
		.sub-menu {
			opacity: 0;
			position: absolute;
			visibility: hidden;
			z-index: -1;
			left: 0;
			top: 100%;
			.trans( all, .1s );
			a {
				display: block;
			}
		}
		&:before {
		    content: '';
		    display: none;
		    position: absolute;
		    width: 110%;
		    transform: translateX( -5% );
		    height: 25px;
		    left: 0;
		    top: 100%;
		}
		&:hover {
			&:before {
				display: block;
			}
			.sub-menu {
				opacity: 1;
				visibility: visible;
				z-index: 100;
			}
		}
		a {
			display: inline-block;
		}
		> a {
			&:after {
				font-family: Material-Design-Iconic-Font;
				content: '\f2f9';
				margin-left: 4px;
			}
		}
	}
}

/* ==============================
 - Top-Bar.
============================== */
.top-bar {
	color: #fff;
	padding: 18px 0 14px;
	.clear_after();
	.top-bar-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.languages-area {
		float: left;
	}
	.menu {
		.menu-item {
			text-transform: uppercase;
			display: inline-block;
			margin-right: 35px;
			a {
				letter-spacing: -1px;
				.white_link();
				&:after {
					margin-left: 5px;
				}
			}
		}
		.sub-menu {
			li.menu-item {
				display: block;
			}
			a {
				.light_link();
			}
		}
	}
	.pure-my-account-menu {
		.menu {
			> .menu-item {
				.sub-menu {
					right: 0;
					min-width: 200px;
				}
			}
		}
	}
	.cart-quantity {
		color: #fff;
		position: relative;
		width: 18px;
	    height: 10px;
	    display: block;
		&:hover, &:focus {
			color: @activeColor;
		}
		i {
			position: absolute;
		    top: -4px;
		    left: -12px;
		    font-size: 24px;
		}
	}
	.cart-count {
		position: absolute;
		width: 19px;
		height: 19px;
		line-height: 19px;
		font-size: 12px;
		background-color: @activeColor;
		color: #fff;
		border-radius: 50%;
		text-align: center;
		line-height: 19px;
		top: 0;
		transform: translate(0%, -66%);
	}
	.top-bar-widget, .site-header-cart {
		display: inline-block;
	}
	.top-links {
		float: right;
	}
}
.top-bar-widget {
	.menu {
		> .menu-parent-item,
		> .menu-item-has-children {
			.sub-menu {
				min-width: 150px;
				padding: 6px 0;
				transform: translateY(14px);
			}
		}
	}
}


/* ==============================
 - Header [Global Styles].
============================== */
header.header {
	padding: 34px 0;

	.container-wrap {
		display: flex;
		flex-wrap: nowrap;
	    align-items: center;
	    justify-content: space-between;
	}

	.menu {
		> .menu-item {
			display: inline-block;
			text-transform: uppercase;
		}
		a {
			padding: 10px 15px;
		}
	}

	.sub-menu {
		padding: 6px 0;
		transform: translateY( 6px );
		.menu-item {
			width: 200px;
			font-size: 13px;
			a {
				padding: 10px 12px;
				.light_link();
			}
		}
	}

	.site-search {
		form {
			border-bottom: 1px solid @lightColor;
			.trans( all, .2s );
			&.focused {
				border-color: @activeColor;
			}
		}
		input, button {
			background-color: transparent;
			border: 0;
			outline: 0;
			box-shadow: none;
			color: @lightColor;
			&:focus, &:active {
				border: 0;
				outline: 0;
				box-shadow: none;
			}
		}
		input {
			padding: 6px 0;
		}
		button {
			padding: 10px;
			margin-right: -10px;
			.trans( all, .2s );
			&:hover, &:focus, &:active {
				color: @activeColor;
			}
			i {
				font-size: 20px;
			}
		}
	}
}



/* =========================================================
 - RESPONSIVE - .
========================================================= */
@media only screen and ( min-width: 768px )
{
	header.header {
		.open-mobile-menu {
			display: none;
		}
	}
}