/**
 * MOBILE-MENU - #mobile_menu.
 * ============================================ *
 * 
 */
.pure-menu-mobile {
    position: fixed;
    width: 240px;
    height: 100vh;
    top: 0;
    z-index: 20000;
    background-color: #141414;
    transform: translateX(-100%);
    overflow-y: auto;
    .trans( transform, .3s, ease-out );
    .menu, .menu > ul {
        color: #fff;
        li {
            display: block;
            width: 100%;
            position: relative;
            a {
                display: flex;
                align-items: center;
                min-height: 40px;
                color: #fff;
                font-weight: 300;
                opacity: .8;
                z-index: 1;
                border-top: 1px solid #222;
                &:hover {
                    opacity: 1;
                    background-color: #0e0e0e;
                }
            }
            .open-this {
                cursor: pointer;
                position: absolute;
                display: flex;
                right: 0;
                top: 0;
                width: 40px;
                height: 40px;
                font-size: 18px;
                z-index: 3;
                border-top: 1px solid #222;
                .trans( all, .2s );
                &:before {
                    margin: auto;
                    font-family: 'Material-Design-Iconic-Font';
                    content: '\f2f9';
                    .trans( all, .15s );
                }
                &:hover {
                    background-color: #0e0e0e;
                }
            }
            &.open {
                > .open-this {
                    &:before {
                        transform: rotate( 90deg );
                    }
                }
            }
            &.menu-item-has-children {
                > a {
                    margin-right: 40px;
                }
            }
        }
        > li {
            > a {
                padding: 8px 20px;
                text-transform: uppercase;
            }
            &:first-child {
                > a, > .open-this {
                    border-top: 0;
                }
            }
        }
    }
    .sub-menu {
        display: block;
        width: 100%;
        padding-left: 20px;
        display: none;
        li {
            a {
                padding: 6px 20px;
                &:before {
                    font-family: 'Material-Design-Iconic-Font';
                    content: '\f2fb';
                    position: absolute;
                    left: 6px;
                    font-size: 16px;
                }
            }
        }
    }
}
.search.menu-mobile-search {
    padding-top: 20px;
    form {
        display: flex;
        width: 100%;
        border-top: 1px solid #222;
        border-bottom: 1px solid #222;
        .trans( all, .2s );
        input[type='text'],
        input[type='search'] {
            width: 100%;
            background-color: #0e0e0e;
            border: 0;
            padding-left: 16px;
            height: 40px;
            color: #aaa;
            font-weight: 300;
            .trans( all, .2s );
            &:focus {
                border-color: #999;
            }
            &::-webkit-input-placeholder {
                color: #333;
            }
        }
        button[type='submit'] {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            background-color: #0e0e0e;
            padding-top: 4px;
            font-size: 22px;
            opacity: 1;
            color: #222;
            &:hover, &:focus {
                color: #999 !important;
            }
        }
        &.focused {
            border-color: #999;
            input[type='text'],
            input[type='search'] {
                &::-webkit-input-placeholder {
                    color: #555;
                }
            }
            button[type='submit'] {
                color: #555;
            }
        }
    }
}
.close-menu-mobile-full-screen {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 15000;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: #141414;
    .trans( opacity, .2s );
}
body.menu-mobile-open {
    .pure-menu-mobile {
        transform: translateX(0%);
    }
    .close-menu-mobile-full-screen {
        visibility: visible;
        opacity: .5;
    }
}