/**
 * BUTTONS - #buttons.
 * ============================================ *
 * 
 */
.button,
button,
input[type='submit'] {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	border: 0;
	letter-spacing: 1px;
    padding: 8px 28px 7px;
    text-transform: uppercase;
	opacity: 1;
    .trans( all, .2s );
	.disable_focus();
	&:hover, &:focus, &:active {
		color: #fff;
		opacity: .85;
	}
}
