/**
 * BUTTONS - #buttons.
 * ============================================ *
 * 
 */
.button,
button,
input[type='submit'] {
    display: inline-block;
    text-decoration: none;
    border: 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px 28px 7px;
    text-transform: uppercase;
    opacity: 1;
    .trans( all, .2s );
    .disable_OutBox();
    &:hover, &:focus {
        color: #fff;
        opacity: .85;
    }
}

@media only screen and ( max-width: 1200px ) {
    .button, button, input[type='submit'] {
        padding: 7px 24px 6px;
    }
}

@media only screen and ( max-width: 768px ) {
    .button, button, input[type='submit'] {
        padding: 6px 16px 5px;
        font-size: 13px;
    }
}

@media only screen and ( max-width: 480px ) {
    
}

@media only screen and ( max-width: 320px ) {
    
}