/**
 * SHOP-DEFAULTS - #shop_defaults.
 * ============================================ *
 */

.product-quick-view {
	.product-quick-view-wrap {
		width: 1000px;
		background-color: #fff;
		margin-bottom: 20px;
		margin-top: 20px;
		overflow-y: auto;
		border: 1px solid @borderColor;
	}
	.product-quick-view-content {
		padding: 15px 0;
	}
	.mfp-close {
		position: fixed;
		left: 0;
		top: 0;
		color: #fff;
		background-color: transparent;
		&:hover {
			color: @activeColor;
		}
	}
	h1 {
		a {
			display: inline-block;
			.dark_link();
		}
	}
	.summary {
		.add_to_cart_button {
			float: left;
			margin-right: 10px;
			&.loading {
				background-color: lighten( @buttonBgColor, 10% );
			}
		}
		.add_to_wishlist {
			float: none;
			margin: 0;
			padding: 6px 10px 6px 10px;
			&:before {
				font-family: 'Material-Design-Iconic-Font';
				content: '\f15e';
				font-size: 22px;
			}
		}
		.added_to_cart {
			display: none !important;
		}
	}
}

.woocommerce-message, .woocommerce-info {
    width: 100%;
    padding: 25px 30px;
    margin: 0 0 2em;
    position: relative;
    background-color: #fff;
	border: 1px solid @borderColor;
    color: @extraLightColor;
    font-size: 14px;
    letter-spacing: 1px;
    word-wrap: break-word;
	a {
		.light_link();
	}
}

.up-sells-products, .upsells-products, .related-products, .cross-sells {
	padding: 90px 0 20px;
	background-color: #fff;
	&:last-child {
		padding: 90px 0 70px;
	}
	h2  {
		padding-bottom: 15px;
	    margin-bottom: 50px;
	    display: block;
	    position: relative;
	    text-align: center;
	    &:after {
	    	content: '';
		    position: absolute;
		    width: 60px;
		    height: 1px;
		    background-color: #ddd;
		    top: 100%;
		    left: 50%;
		    transform: translateX(-50%);
	    }
	}
	.products {
		margin: 0;
		.product {
			padding: 0;
			margin-bottom: 0;
		}
	}
	.owl-controls {
		.owl-prev, .owl-next {
			color: #ddd;
			top: 40%;
		}
		.owl-prev {
			margin-left: -5%;
		}
		.owl-next {
			margin-right: -5%;
		}
	}
}
.cross-sells {
	&:last-child {
		background-color: transparent;
		padding: 70px 0 20px;
	}
}

.quantity {
	display: block;
	.clear_after();
	.quantity-content {
		display: inline-flex;
		border: 1px solid @borderColor;
		background-color: #fff;
	}
	.qty-btn-wrap {
		width: 28px;
		text-align: center;
	}
	span.plus, span.minus {
		display: table;
		width: 100%;
		height: 50%;
		cursor: pointer;
		-webkit-user-select: none;
		.trans( all, .1s );
		&:hover {
			color: @activeColor;
		}
		i {
			display: table-cell;
			vertical-align: middle;
		}
	}
	input {
		height: 37px;
		width: 55px;
		padding: 0 10px;
		text-align: center;
		border: 0;
		border-right: 1px solid @borderColor;
		&:focus {
			border-color: @borderColor;
		}
	}
}
