/**
 * ========================================================================================
 * - PRODUCTS - #products.
 * ========================================================================================
 */


/* ==============================
 - Base.
============================== */
.products {
	margin: 0 -15px;
	.clear_after();
	.product {
		position: relative;
		margin-bottom: 63px;
		padding: 0 15px;
		display: inline-block;
		float: left;
	}
	.onsale {
		position: absolute;
		z-index: 1;
		font-family: Poppins;
		font-weight: 300;
		text-transform: uppercase;
		color: @activeColor;
		padding: 12px 11px;
		pointer-events: none;
	}
	.product-mask-content {
		a.woocommerce-LoopProduct-link {
			position: relative;
			display: block;
			img {
				display: block;
			}
			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				visibility: hidden;
				color: #fff;
				font-size: 24px;
				.trans( all, .2s );
			}
			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				.trans( all, .3s );
			}
		}
	}
	.product-mask {
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;
		&:hover {
			.footer-product {
				transform: translateY(0);
			}
			.product-mask-content {
				a.woocommerce-LoopProduct-link {
					.icon {
						visibility: visible;
						opacity: 1;
					}
					&:before {
						background-color: @activeColor;
						opacity: 0.6;
					}
				}
			}
		}
	}
	.product-mask-content {
		a {
			width: 100%;
			display: block;
		}
		img {
			display: block;
			width: 100%;
		}
	}

	.footer-product {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		bottom: 0;
		transform: translateY(100%);
		.trans( all, .2s );
		border: 1px solid @buttonBgColor;
		.button {
			text-align: center;
			line-height: 1.3;
		}
		.add_to_cart_button {
			width: 100%;
			font-size: 14px;
			padding: 12px 10px 10px;
			letter-spacing: 0;
			width: 60%;
			&.loading, &.added {
				&:after {
					font-family: "Material-Design-Iconic-Font";
					display: inline-block;
					margin-left: 6px;
					margin-right: -2px;
					color: #fff;
					line-height: 1;
					.trans( all, .2s );
				}
			}
			&.loading {
				&:after {
					content: '\f3ec';
					animation: fa-spin 2s infinite linear;
				}
			}
			&.added {
				&:after {
					color: #fff;
					content: '\f26b';
				}
			}
		}
		.side-button {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0 8%;
			width: 20%;
			text-align: center;
			background-color: #fff;
			.dark_link();
			i {
				font-size: 24px;
			}
		}
		.added_to_cart {
			display: none !important;
		}
	}

	.product-details {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.product-title {
		display: block;
		width: 100%;
		color: @lightColor;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 1.3;
		margin-bottom: 15px;
		a {
			display: inline-block;
		}
	}

	.price {
		.flex_center_Y();
		flex-direction: row-reverse;
		.woocommerce-Price-amount {
			display: flex;
			flex-wrap: nowrap;
			font-size: 18px;
			font-weight: 500;
			text-transform: uppercase;
			color: @activeColor;
			margin-right: 15px;
		}
		del {
			color: @lightColor;
			.woocommerce-Price-amount {
				font-size: 12px;
				font-weight: 500;
				text-transform: uppercase;
				color: @lightColor;
			}
		}
	}

	.product-excerpt {
		display: none;
	}

	.woocommerce-review-link {
		font-size: 10px;
		font-weight: 400;
		text-transform: uppercase;
		.count {
			line-height: 2;
		}
	}

	&.row-count-2 {
		.product {
			width: 50%;
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
	&.row-count-3 {
		.product {
			width: 33.333333333333%;
			&:nth-child(3n+1) {
				clear: both;
			}
		}
	}
	&.row-count-4 {
		.product {
			width: 25%;
			&:nth-child(4n+1) {
				clear: both;
			}
		}
	}
	&.row-count-5 {
		.product {
			width: 20%;
			&:nth-child(5n+1) {
				clear: both;
			}
		}
	}
	&.row-count-6 {
		.product {
			width: 16.6666666666666%;
			&:nth-child(6n+1) {
				clear: both;
			}
		}
	}
}


/* ==============================
 - List view.
============================== */
.products-list {
	.product {
		width: 100% !important;
		.clear_after();
		display: table;
	}
	.product-mask {
		width: 100%;
		float: left;
		padding-right: 15px;
	}
	.product-mask-content {
		position: relative;
		overflow: hidden;
	}
	.product-details {
		width: 70%;
		padding-left: 15px;
    	display: table-cell;
    	vertical-align: middle;
	}
	.price {
		margin-bottom: 10px;
	}
	.star-rating {
		float: left;
		margin-bottom: 20px;
	}
	.product-excerpt {
		display: block;
		p {
			font-size: 15px;
		}
	}
	.show-quickly {
		img {
			width: 100%;
		}
	}
	.woocommerce-review-link {
		.clear_after();
	}
}
.site-content:not(.without-sidebar) {
	.products-list {
		.product-details {
			width: 65%;
		}
	}
}

/* ==============================
 - Products in OWL Carousel.
============================== */
.products.owl-carousel {
	.product-mask {
		.show-quickly {
			.icon {
				z-index: 3;
			}
			&:before {
				z-index: 2;
			}
		}
		.footer-product {
			z-index: 4;
		}
	}
}
.owl-products {
	.product {
		margin-bottom: 0;
	}
	.owl-controls {
		.owl-nav {
			.owl-prev, .owl-next {
				color: #ddd;
				top: 40%;
				&:hover, &:focus {
					color: @activeColor;
				}
			}
			.owl-prev {
				margin-left: -5%;
			}
			.owl-next {
				margin-right: -5%;
			}
		}
	}
}
